# C objects
*.a
*.so
*.o

# kscript config file
include/ks-config.h


# build/generated folders
build/
lib/
bin/
/Makefile
.tmp

# build output
*.tar.*


# editors I use
.vscode/

# for a target
install


# bin,lib,... are handled within each folder

debian/
