
# -*- EDITORS -*-

.vscode/


# -*- COMPILING  -*-

# C Objects
*.o

# C targets
*.a
*.so
*.lib
*.la
*.dll


# -*- GENERATED -*-

# by ./configure
/Makefile
/include/ks-config.h

# misc. folders for targets
/lib/
/bin/

# extra library things
/.tmp/

# other directories
/build/

# build output
/*.tar.*
/*.tar

/deps/src/
/deps/prefix/


# -*- DEBIAN FILES -*-

# temporary files
/debian/usr

# output from debian
*.deb

